{% extends "layout.html" %}

{% block content %}
    <h1>{{body}}</h1>

    {% if current_user.is_authenticated %}
    <p>Hi {{ current_user.username }}!</p>
    <p><a href="{{ url_for('profile_bp.profile') }}">See Profile</a></p>
    <p><a href="{{ url_for('auth_bp.logout_page') }}">Log out</a></p>
    <h2>
      Public Rooms 
      <a href="{{ url_for('room_bp.list_rooms') }}"><img src="{{ url_for('static', filename='img/plus.png') }}" alt="+" height="20" width="20"></a>
    </h2> 
    {% for room in public_chatrooms %}
    <div class="chat-room-list">
      {{room.name}} <a href="{{ url_for('room_bp.show',id=room.id) }}">Enter</a>
    </div>
    {% endfor %}
    <h2>
        Private Rooms
        {% if current_user.admin %}
        <a href="{{ url_for('room_bp.list_rooms') }}"><img src="{{ url_for('static', filename='img/plus.png') }}" alt="+" height="20" width="20"></a>
        {% endif %}
    </h2>
    {% for room in private_chatrooms %}
    <div class="chat-room-list">
      {{room.name}} 
      <a href="{{ url_for('room_bp.show',id=room.id) }}">Enter</a>
      {% if current_user.admin %}
      <a href="{{ url_for('room_bp.delete_room',room_id=room.id) }}">Delete</a>
      {% endif %}
    </div>
    {% endfor %}
    {% if current_user.admin %}
    <div class="add-room">
      <a href="{{ url_for('room_bp.create_room') }}">Create New Room</a>
    </div>
    {% endif %}

  {% endif %}
{% endblock %}
