{% extends "layout.html" %}

{% block pagestyles %}
{% endblock %}

{% block content %}
  <h2>Public</h2>
  {% for room in public_chatrooms %}
    <p>
      {{ room.name }} 
      <a href="{{ url_for('room_bp.show',id=room.id) }}">Enter</a>
    </p>
  {% endfor %}
  
  {% if user.admin %}
    <h2>Private</h2>
    {% for room in private_chatrooms %}
      <p>
        {{ room.name }}
        <a href="{{ url_for('room_bp.show',id=room.id) }}">Enter</a>
      </p>
    {% endfor %}
  {% endif %}
{% endblock %}
