{% extends "layout.html" %}

{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      {{ message }}
  </div>
  {% endfor %}
  <img 
    class="ninerchat-logo"
    src="{{ url_for('static', filename='img/49er_logo.png') }}"
  >
  <div class="title">NinerChat</div>
  <div class="subtitle"> Connect | Learn | Grow</div>

  <div class="formwrapper">
    <form method=post>    
      <div class="container">
        <div class="email">
          {{ form.email.label }}
          {{ form.email(placeholder='youremail@uncc.edu') }}
        </div>
        <div class="password">
          {{ form.password.label }}
          {{ form.password }}
        </div>
      </div>
      <div class="login-button">
        <input id="login" type="submit" value="LOGIN">
      </div>
    </form>
    <div class="signup-button">
        <form action="{{ url_for('auth_bp.signup_page') }}">
        <input id="signup" type="submit" value="SIGNUP">
        </form>
    </div>
  </div>
{% endblock %}
