{% extends "layout.html" %}

{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
{% endfor %}

{% block content %}
    <div class="title">{{body}}</div>

    {% if user.is_authenticated %}
    <div>Name: {{ user.username }}</div>
    <div>Email: {{user.email}}</div>
    <div>College: {{user.college}}</div>
    <div>Major: {{user.major}}</div>
    <div>Admin: {{user.admin}}</div>

    <div class="button">
      <form action="{{ url_for('profile_bp.update_profile') }}">
        <input id="submit" type="submit" value="Update">
      </form>
    </div>

    <div class="button">
      <form action="{{ url_for('main_bp.chat') }}">
        <input id="back" type="submit" value="BACK">
      </form>
    </div>
    {% endif %}
{% endblock %}
