{% extends "layout.html" %}

{% block content %}
    <h1>{{body}} Chat Room</h1>
    {% if room.public or user.admin %}
    <a href="{{url_for('room_bp.delete_member', room_id=room.id, user_id=user.id) }}"><small>UNSUBSCRIBE</small></a>
    {% endif %}

    {% if user.is_authenticated %}
    <!-- NOTE: SHOW CHAT MESSAGES -->
    {% for message in messages %}
      <div class="chat-message">
        <p><strong>{{message.user.username}}:</strong>{{message.text}}</p>
        <p><sub>{{message.ts}} {{message.user.email}}</sub></p>
      </div>
    {% endfor %}

    <div class="formwrapper">
      <form method=post>
      <div class="text-box">
        {{ form.text}}
      </div>
      <div class="submitbutton">
        <input id="submit" type="submit" value="Post">
      </div>
      </form>
    </div>

    <div class="back-to-main">
      <a href="{{url_for('main_bp.chat')}}">Back</a>
    </div>
    {% endif %}
{% endblock %}
