<!-- User Dashboard -->

{% extends "layout.html" %}

{% block content %}
    {% if current_user.is_authenticated and current_user.admin %}
    <h1>{{body}}</h1>
    <p>Name: {{ user.username }}</p>
    <p>Email: {{user.email}}</p>
    <p>College: {{user.college}}</p>
    <p>Major: {{user.major}}</p>
    <p>Admin: {{user.admin}} 
        <a href="{{ url_for('dashboard_bp.change_admin', id=user.id) }}">Change</a>
    </p>

    {% for item in memberlist %}
    <p>{{item.chatroom.name}}
        *{{'Public' if item.chatroom.public else 'Private'}}*
        <a href="{{url_for('room_bp.delete_member',room_id=item.chatroom_id,user_id=item.user_id)}}">Remove</a>
    </p>
    {% endfor %}
    <div class="formwrapper">
        <form method=post>
            <div class="room-select">
                {{ form.room_id.label }}
                {{ form.room_id }}
            </div>
            <div class="submitbutton">
                <input id="submit" type="submit" value="Add Room">
            </div>
        </form>
    </div>
    <p><a href="{{ url_for('dashboard_bp.user') }}">Users Dashboard</a></p>
    <p><a href="{{ url_for('dashboard_bp.room') }}">Rooms Dashboard</a></p>
    <p><a href="{{ url_for('dashboard_bp.report') }}">Reports Dashboard</a></p>
    <p><a href="{{ url_for('dashboard_bp.main') }}">Main Dashboard</a></p>
    <p><a href="{{ url_for('main_bp.chat') }}">Back</a></p>
    {% endif %}
    
{% endblock %}