body {
    background-color: #1A1A1B;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 17px;
}

div {
    margin: 10px;
    height: 40px;
    text-align: center;
}

div.title {
    font-size: 27px;
}

div.container {
    display: block;
    max-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div.email, div.password, div.confirm, div.name {
    text-align: right;
}

div.alert {
    color: red;
    font-weight: bold;
}


input {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #ffffff;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

input#login {
    width: 300px;
    background-color: #9a8648;
    border-color: #9a8648;
    font-weight: 400;
}
input#signup, input#submit{
    width: 300px;
    background-color: #006940;
    border-color: #006940;
    font-weight: 400;
}

select {
    width: 170px;
}

img.ninerchat-logo {
    display: block;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10;
}

div.back-to-main {
    font-size: 22px;
    font-weight: 900;
    float: left;
}