body {
    background-color: #1A1A1B;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 17px;
}

.flex-container {
    display: flex;
}

.column-left {
    flex: 25%;
}
.column-right {
    flex: 75%;
    font-size: 14px;
}

table, th, td {
    border: 1px solid  gray;
}

th {
    background-color: black;
}

a {
    color: #006940;
}

a:hover {
    color: #9a8648;
}